$body-background-color: #f1f5f8;
$list-background-color: #fff;
$list-header-text-color: #063251;
$list-form-input-background-color: #f1f5f8;
$list-form-input-text-color: #617d98;
$list-form-input-placeholder-color: #617d98;
$list-form-button-background-color: #a5d5f8;
$list-item-text-color: #112942;
$list-footer-text-color: #f44336;
$border-radius: 5px;
