body {
  font-family: monospace;
  font-weight: bold;
  background-color: #f1f5f8;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.list {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 20px -5px #000000;
}

.list__header {
  color: #063251;
  text-align: center;
}

.list__form {
  display: flex;
  gap: 0;
}

.list__form-input {
  background-color: #f1f5f8;
  padding: 0.5rem;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.list__form-button {
  background-color: #a5d5f8;
  padding: 0 1rem 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-items-wrapper {
  padding: 0;
  margin-top: 1rem;
}

.list__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.list__item-text {
  margin-right: auto;
}

.list__item-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.list__footer {
  text-align: center;
  color: red;
}
