@import "variables";

body {
  font-family: monospace;
  font-weight: bold;
  background-color: $body-background-color;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.list {
  width: 26rem;
  background-color: $list-background-color;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0px 3px 20px -10px #000;
}

.list__header {
  color: $list-header-text-color;
  text-align: center;
}

.list__form {
  display: flex;
  gap: 0;
}

.list__form-input {
  width: 100%;
  background-color: $list-form-input-background-color;
  padding: 0.5rem;
  border: none;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  color: $list-form-input-text-color;
}

.list__form-input::placeholder {
  color: $list-form-input-placeholder-color;
}

.list__form-button {
  background-color: $list-form-button-background-color;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  cursor: pointer;
}

.list__items-wrapper {
  padding-left: 0;
  margin-top: 1rem;
}

.list__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.list__item-text {
  margin-right: auto;
  color: $list-item-text-color;
}

.list__item-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.list__footer {
  text-align: center;
  color: $list-footer-text-color;
}

#deleteAllButton {
  cursor: pointer;
}
